<p>Hey {{ nameSurname }},</p>
<p>Please confirm your email address using the following verification code:</p>
<p>
    <b>Verification Code:</b> {{ code }}
</p>

<p>Thank you!</p>

<p>Best regards,</p>